<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\Sitemap\Model\ItemProvider\Composite">
        <arguments>
            <argument name="itemProviders" xsi:type="array">
                <item name="additionalLinksProvider" xsi:type="object">MageSuite\ExtendedSitemap\Model\ItemProvider\AdditionalLinks</item>
            </argument>
        </arguments>
    </type>
    <type name="Magento\Sitemap\Model\ItemProvider\Category">
        <plugin name="exclude_categories_from_sitemap" type="MageSuite\ExtendedSitemap\Plugin\Magento\Sitemap\Model\ItemProvider\ExcludeCategoriesFromSitemap" sortOrder="100"/>
    </type>
    <type name="Magento\Sitemap\Model\ItemProvider\Product">
        <plugin name="exclude_products_from_sitemap" type="MageSuite\ExtendedSitemap\Plugin\Magento\Sitemap\Model\ItemProvider\ExcludeProductsFromSitemap" sortOrder="100"/>
    </type>
    <type name="Magento\Sitemap\Model\ItemProvider\CmsPage">
        <plugin name="exclude_cms_pages_from_sitemap" type="MageSuite\ExtendedSitemap\Plugin\Magento\Sitemap\Model\ItemProvider\ExcludeCmsPagesFromSitemap" sortOrder="100"/>
    </type>
</config>
