<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <extended_sitemap>
            <configuration>
                <additional_links_enabled>0</additional_links_enabled>
            </configuration>
        </extended_sitemap>
    </default>
</config>